* {
  font-family: "Lora", serif;
  font-family: "Freeman", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav start */
.nav {
  position: sticky;
  top: 0;
  box-shadow: 0 0.063rem 0.125rem 0 rgb(0 0 0 / 0.05);
  background-color: #ece8dd;
  z-index: 30;
  width: 100%;
  font-size: 1.125rem;
}
.nav__container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom-width: 0rem;
  padding: 0.7rem;
}
.nav__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.85rem;
}
.logo {
  width: 8.75rem;
}
.nav__search {
  display: none;
}
.nav__active {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav__cart {
  padding-left: 60rem;
}
.menu__container {
  position: relative;
  z-index: 30;
}
.menu-toggle__open {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  border: 0.063rem solid #cbd5e0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  border-radius: 624.938rem;
  cursor: pointer;
  transition: box-shadow 0.3s;
  color: #718096;
}
.avatar-container {
  margin-right: 0.313rem;
}
.caret-icon-container {
  margin-left: 0.313rem;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 0.063rem solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  padding: 0.625rem;
}
.dropdown-menu div {
  margin-bottom: 0.313rem;
}
.dropdown-menu a {
  text-decoration: none;
  color: #333;
}
.dropdown-menu a:hover,
.dashboard a:hover {
  color: #688a60;
}
.logout-link {
  text-decoration: none;
}
.logout-link:hover {
  color: #9d4a4a;
}
/* nav end */

/* cart start start */
.cart__container {
  position: relative;
  cursor: pointer;
}
.cart__icon {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #465244;
}
.cart__total {
  position: absolute;
  top: -1.188rem;
  right: -0.625rem;
  background-color: #555a54;
  color: white;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
}
.cart {
  padding-top: 2rem;
  padding-right: 2rem;
  margin: 3rem;
}
.cart__title {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #6f6f6f;
  padding-bottom: 3rem;
}
.titles {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  font-size: 0.75rem;
  margin-top: 1rem;
  margin-right: 1rem;
  padding-bottom: 0.9rem;
  align-items: center;
}
.cart__titleleft {
  grid-column: span 2;
  justify-self: start;
}
.cart__titlelecenter {
  justify-self: center;
}
.cart__titleright {
  justify-self: end;
}
.card__items {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  font-size: 0.75rem;
  font-size: 0.875rem;
  margin-top: 1rem;
  margin-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
}
.card__left {
  grid-column: span 2;
  justify-self: start;
  display: flex;
}
.cartitem__img {
  width: 4.375rem;
  position: relative;
  aspect-ratio: 1 / 1;
}
.card__center {
  justify-self: center;
}
.card__right {
  justify-self: center;
}
.card__end {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.Remove__all {
  width: 5rem;
  background-color: #c4c2c2;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;
  color: white;
}
.total__container {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
  align-items: flex-start;
  gap: 0.25rem;
}
.total {
  font-size: 2rem;
  font-weight: 600;
}
.total__color {
  color: #333;
}
.ckeckout {
  border-radius: 0.375rem;
  border-color: #f4f5f6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #7c9477;
  padding: 0.8rem 0.8rem;
  color: white;
  margin-bottom: 0.8rem;
  margin-top: 0.2rem;
}
.ckeckout:hover {
  background-color: #60735c;
}
.fa-arrow-left {
  margin-right: 0.5rem;
}
.cart__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
/* cart end  */

/* footer start*/
.footer {
  background-color: #555a54;
  color: rgb(226 232 240);
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 2rem;
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.footer__title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.footer__about {
  width: 100%;
  margin-bottom: 1.5rem;
}
.about__description {
  margin-bottom: 0.5rem;
}
.icon {
  display: flex;
  gap: 0.5rem;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__active,
.footer__list {
  cursor: pointer;
}
.footer__active:hover,
.footer__list:hover {
  color: #99a297;
}
/* end start*/

/* HomeBanner start */
.homeBanner__content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #555a54;
}
.homeBanner__image {
  width: 70%;
}
/* HomeBanner end */

/* home start  */
.home__container {
  padding: 2rem;
}
/* home end */

/* products start */
.title__product {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #7c9477;
}
.container {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 5rem;
  place-content: space-around;
  align-items: center;
}
.search__container {
  width: 40%;
  display: flex;
  justify-content: center;
  padding-top: 0.9rem;
  margin-bottom: 4rem;
  margin-left: 29rem;
}
.search__content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.search__products {
  flex: 1;
  padding: 0.9rem;
  border: none;
  outline: none;
  background-color: #e7e5e5;
  border-radius: 1.5rem;
  margin-right: 1.2rem;
  margin-bottom: 0.625rem;
  font-size: 1rem;
}
.button__search {
  padding: 0.7rem 0.7rem;
  margin-bottom: 0.6rem;
  background-color: #e7e5e5;
  color: rgb(110, 109, 109);
  border: none;
  outline: none;
  border-radius: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
}
.button__search:hover {
  background-color: #ddd;
}
.products__sort {
  display: flex;
  gap: 0.9rem;
  margin-bottom: 5rem;
}
.products-sort__title {
  font-weight: 700;
  color: rgb(72, 77, 84);
}
select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.063rem solid #ccc;
  background-color: #f9f9f9;
  font-size: 0.875rem;
  outline: none;
  cursor: pointer;
}
select option {
  font-size: 0.875rem;
}
.categories__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  gap: 3rem;
}
.title__categories {
  font-size: 1rem;
  text-align: center;
  margin-right: 1rem;
  color: #7c9477;
}
.categories label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.categories input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 0.313rem;
  border: 0.125rem solid #aaa;
  outline: none;
  cursor: pointer;
}
.categories input[type="checkbox"]:checked {
  background-color: #60735c;
  border-color: #9ca8a2;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
  padding: 2rem 0;
  align-items: center;
}
.product__card {
  grid-column: span 1;
  cursor: pointer;
  border: 0.075rem;
  border-color: rgb(238, 242, 248);
  background-color: rgb(248 250 252);
  border-radius: 0.125rem;
  padding: 0.5rem;
  transition: all 0.3s;
  text-align: center;
  font-size: 0.875rem;
  gap: 2rem;
  padding: 1rem;
}
.product__card:hover {
  transform: scale(1.05);
}
.product__content {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.product__images {
  aspect-ratio: 1 / 1;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.product__img {
  width: 100%;
  height: 100%;
  align-items: center;
}
.product__price {
  font-weight: 600;
}
.button-container {
  display: flex;
}
.product__button {
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  margin-bottom: 0.2rem;
  background-color: #bfbbaf;
  color: white;
  border-radius: 1.5rem;
  outline: 0;
  padding: 0.7rem 0.8rem;
  text-align: center;
  border: none;
}
.product__button:hover {
  background-color: #b1ada2;
  color: white;
}
.fa-solid {
  margin-left: 0.3rem;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.button__pagination {
  border-radius: 50%;
  background-color: #f1f1f1;
  padding: 0.8rem 1.5rem;
  text-align: center;
}
.button__pagination:hover {
  background-color: #ddd;
}
.button__numbers {
  padding: 1.25rem;
  align-items: center;
  color: #718096;
}
.button__numbers:hover {
  color: #ddd;
}
/* products end */

/* Product Details start */
.details {
  height: 100%;
  margin: 2rem;
  padding: 6rem;
}
.product__details {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__left {
  flex: 1;
}
.product-details__img {
  height: 20rem;
  width: 20rem;
}
.product__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: rgb(100 116 139);
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.product-details__name {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  color: rgb(51, 54, 57);
}
.product-details__price {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: rgb(72, 77, 84);
}
.horizontal {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.product-details__description {
  justify-items: center;
}
.product-details__quantity {
  font-weight: 700;
}
.quantity {
  display: flex;
  align-items: center;
}
.button__quantity {
  background-color: #bfbbaf;
  color: white;
  border: none;
  padding: 0.313rem 0.625rem;
  margin: 0 0.313rem;
  cursor: pointer;
}
.button__quantity:hover {
  background-color: #b1ada2;
}
.button__quantity:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
span {
  margin: 0 0.6rem;
  font-size: 1rem;
}
.product-details__cart {
  border-radius: 0.375rem;
  border-color: #f4f5f6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #7c9477;
  padding: 0.8rem 0.8rem;
  color: white;
}
.product-details__cart:hover {
  background-color: #60735c;
}
/* Product Details end */

/* Error start */
.not__found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.not-found__info {
  color: #555a54;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.not-found__img {
  margin-top: 5rem;
  max-width: 100%;
  height: auto;
}
.not-found__button {
  border: none;
  border-radius: 2rem;
  outline: 0;
  padding: 0.75rem 0.938rem;
  color: #253346;
  background-color: #d1d0d0;
  text-align: center;
  font-size: 0.9rem;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.not-found__button:hover {
  background-color: #7c9477;
  color: #fdfdfd;
}
/*  Error end */

/* Register and Login start */
.title__register,
.title__login {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  color: #7c9477;
}
.register,
.login {
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
  padding-top: 6rem;
}
.register__container,
.login__container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
  padding: 2rem;
}
hr {
  background-color: #64748b;
  width: 100%;
  height: 0.063rem;
}
.form__field {
  margin-bottom: 1rem;
  width: 100%;
}
/* need to modfiy */
input {
  width: 100%;
  outline: none;
  background-color: #ffffff;
  font-weight: 300;
  border-width: 0.125rem;
  border-radius: 0.375rem;
}
.register__already {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #60735c;
}
.login__link {
  padding-left: 0.5rem;
  text-decoration: underline;
  color: #555a54;
}
/* need to modfiy */
.button__register,
.button__login {
  width: 100%;
  padding: 0.625rem;
  background-color: #7c9477;
  color: #9d4a4a;
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
}
.button__register:hover,
.button__login:hover {
  background-color: #60735c;
  color: white;
}
span {
  color: #981313;
  font-size: 0.9rem;
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
}
/* Register and Login end */

/* Dashboard User start */
.wrap {
  height: 80vh;
}
.dashboard__container {
  margin-left: 1.25rem;
  min-height: 70vh;
}
.sidebar-container {
  width: 15rem;
  float: left;
  height: 80vh;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.sidebar-container .sidebar {
  margin-bottom: 1rem;
}
.sidebar-container .sidebar-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
}
.sidebar-container .sidebar-item:hover {
  background-color: #f0f0f0;
}
.sidebar-container .sidebar-icon {
  margin-right: 0.5rem;
  color: #465244;
}
.sidebar-container .sidebar-text {
  font-size: medium;
  font-weight: 600;
  color: #bfbbaf;
}
.dashboard__content {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
}
.dashboard__content h1 {
  font-size: large;
  font-weight: 700;
  padding-top: 12rem;
  padding-bottom: 1rem;
  color: #555a54;
  font-size: 1.5rem;
}
.dashboard__content h2 {
  font-size: large;
  font-weight: 700;
  color: #99a297;
  padding-bottom: 0.8rem;
}
.dashboard__content p {
  padding-left: 5rem;
  color: #4f5f4c;
  padding-top: 0.9rem;
}
.dashboard__content form {
  width: 20%;
  margin-top: 1rem;
  margin-left: 42.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
  padding: 2rem;
}
.dashboard__content input {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #f4f4f4;
}
.dashboard__content .btn {
  width: 100%;
  padding: 0.625rem;
  background-color: #7c9477;
  color: #ffffff;
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
}
.dashboard__content .btn:hover {
  background-color: #60735c;
  color: white;
}
.dashboard__content .btn__close {
  margin-top: 0.5rem;
  padding: 0.563rem 1rem;
  font-size: small;
  background-color: #b1ada2;
  border-radius: 0.313rem;
}
/* Dashboard User end */

/* Dashboard Admin start */
.wrap {
  height: 80vh;
}
.dashboard__container {
  margin-left: 1.25rem;
  min-height: 70vh;
}
.dashboard__container h1 {
  font-size: large;
  font-weight: 700;
  padding-top: 12rem;
  padding-bottom: 1rem;
  color: #555a54;
  font-size: 1.5rem;
}
.dashboardA__content {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
}
/* Table start */
.table{
  margin-left: 27rem;
}
.table-head-cell {
  font-weight: bold;
  padding: 1rem;
  background: #ada89c;
  color: white;
}
.table-row {
  border-bottom: 0.063rem solid #ccc;
}
.table-row:nth-child(odd) {
  background-color: #f5f5f5;
}
.table-row:nth-child(even) {
  background-color: white;
}
.table-cell {
  padding: 0.625rem;
  text-align: justify;
}
.button__container {
  display: flex;
  align-items: center;
}
.buttonDelete__container button {
  margin-left: 1.5rem;
  font-size: 0.8rem;
  text-decoration: none;
  border-radius: 0.313rem;
  color: #fff;
  padding: 0.5rem;
  align-items: center;
}
.button__container button {
  margin-right: 0.313rem;
  font-size: 0.8rem;
  text-decoration: none;
  border-radius: 0.313rem;
  color: #fff;
  padding: 0.5rem;
}
.button__edit {
  background: #60735c;
}
.button__edit:hover {
  background: #4f5f4c;
}
.button__delete {
  background: #9d4a4a;
}
.button__delete:hover {
  background: #894141;
}
/* Table end */
/* Dashboard dAdmin end */

/* Responsive Screens */
@media (min-width: 768px) {
  .nav__active {
    gap: 0rem;
    gap: 3rem;
  }
  .nav__search {
    display: block;
  }
  .footer__container {
    flex-direction: row;
  }
  .footer__about {
    width: 33.333333%;
    margin-bottom: 0rem;
  }
  .homeBanner__content {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .homeBanner__box {
    margin-bottom: 0rem;
  }
  .homeBanner__title {
    font-size: 3.75rem;
    line-height: 1;
  }
  .homeBanner__description {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .homeBanner__discounts {
    font-size: 3rem;
    line-height: 1;
  }
  .register__container {
    padding: 2rem;
  }
}
